body {
    background: url('../img/mercato.gif') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.navbar-brand img {
    height: 40px;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
}

.card-title {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-control, .form-select {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ced4da;
    color: #000;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: #80bdff;
}

::placeholder {
    color: #6c757d;
}
