* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/mercato.gif');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#divmain {
    background: rgba(232, 146, 85, 0.747);
    border-radius: 3;
    border-color: gray;
}

#divnotmain{
    background: rgba(232, 146, 85, 0.747);
}